<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<h1>About</h1>
<p>
  Ruby on Rails (RoR) is a popular and popular framework for writing web services in the Ruby programming language.
  Using the main advantages of Ruby (dynamic language for object-oriented programming, which is different in terms
  of laconicity and intuitionality) and the reference MVC architecture, RoR allows you to develop high-quality web
  services at a fast pace. Among the web projects written on Ruby on Rails, you can select - GitHub, Twitter,
  Basecamp, Groupon, YP, Shopify and others.
</p>
</body>
</html>