<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails GeekHub about the sample app at the
  <a href="http://geekhub.ck.ua/contacts/">contact page</a>.
</p>
</body>
</html>